<%- include('header.ejs') %>
<div class="container">
    <div class="post-list">
        <%- include('header.ejs') %>
        <div class="container">
            <div class="post-list">
                <% for (let post of posts) { %>
                <div class="post">
                    <div class="post-header">
                        <h3 class="post-title"><%= post.title %></h3>
                        <p>Authored by <a href="<%= post.authorLink %>"><%= post.author %></a></p>
                    </div>
                    <div class="post-content">
                        <p><%= post.content %></p>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
<%- include('footer.ejs') %>